.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 400px;
    border-radius: 2rem;
    color: white;
    box-shadow: 5px 5px 15px black;
}

/*search bar starts*/
.searchBar{
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.searchInput-area{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.searchInput{
    width: 70%;
    height: 2.25rem;
    border: 0;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding-left: 10px;
}

.searchBtn-area{
    width: 25%;
}

.searchBtn{
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    color: pink;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/*search bar ends*/



/*###############phone version starts################*/
@media screen and (max-width: 767px) {
    .container{
        width: 80%;
    }
}



/*search bar starts*/
.searchBar{
    display: flex;
    flex-direction: column;
}

.searchInput-area{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchInput{

}

.searchBtn-area{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchBtn{

}

/*search bar ends*/

/*##################################################*/